.footer {
  position: absolute;
  text-align: center;
  bottom: 100px;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
